/**
 * Homepage sections
**/

.projects {

}


.gallery {

}

.gallery-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 16px;
  margin: 0;
  .gallery-item {
    overflow: hidden;
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px;
  }
}