/**
 * Homepage sections
**/

section {
  margin-top: $spacing-large;
}

.proj-list {
  list-style: none;
  margin: 0;
  li {
    .thumbnail {
      background-color: $evergreen;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    a {
      border: none;
      border-radius: $radius-default;
      box-shadow: $depth-default;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
      gap: 0;
      margin: 0 0 $spacing 0;
      overflow: hidden;
      transition: transform .25s ease-in-out;
      &:hover {
        transform: translateY(-2px);
      }
      &:active {
        transform: none;
      }
      @include media-query($on-palm) {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr;
      }
    }
    .proj-info {
      padding: $spacing;
    }
  }
}

.proj-type {
  font-family: $fontstack-base;
  font-weight: $font-weight-heavy;
  font-size: $small-font-size;
  text-transform: uppercase;
  letter-spacing: $tracking-medium;
}

.more-projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 132px;
  gap: $spacing;
  div {
    background-color: $evergreen;
    background-size: cover;
    background-position: center center;
    box-shadow: $depth-default;
    border-radius: $radius-default;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    padding: $spacing;
  }
  a {
    color: #fff;
    font-family: $fontstack-decorative;
    border: none;
    &:hover {
      transform: translateY(-2px);
    }
    &:active {
      transform: none;
    }
  }
  @include media-query($on-palm) {
    display: block;
    margin-bottom: -$spacing;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: $spacing;
      min-height: 100px;
    }
  }
}

.gallery-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
  .gallery-item {
    overflow: hidden;
    transition: filter .25s ease;
    &:active {
      filter: brightness(.8);
    }
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all .25s ease-in-out;
    &:hover {
    }
  }
  @include media-query($on-palm) {
    grid-template-columns: 1fr 1fr;
    img {
      filter: none;
    }
  }
}


.book-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
  margin: 0;
  @include media-query($on-palm) {
    grid-template-columns: 1fr 1fr;
  }
  li {
    text-align:center;
  }
  img {
    box-shadow: $depth-default;
    height:190px;
  }
}