/**
 * Homepage sections
**/

section {
  margin-top: $spacing-large;
}

.proj-list {
  list-style: none;
  margin: 0;
  li {
    .thumbnail {
      background-color: $evergreen;
      padding: 16px;
    }
    a {
      border: none;
      border-radius: $radius-default;
      box-shadow: $depth-default;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
      gap: 0;
      margin: 0 0 $spacing 0;
      overflow: hidden;
      transition: transform .25s ease-in-out;
      &:hover {
        transform: translateY(-2px);
      }
    }
    .proj-info {
      padding: 16px;
    }
  }
  .proj-type {
    font-family: $fontstack-base;
    font-weight: $base-font-weight * 1.5;
    text-transform: uppercase;
    letter-spacing: .5px;
  }
}

.more-projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  gap: 16px;
  margin: 0;
  @include media-query($on-palm) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  div {
    background-color: $evergreen;
    border-radius: $radius-default;
    text-align: center;
    vertical-align: middle;
    padding: $spacing
  }
  a {
    color: #fff;
    font-family: $fontstack-decorative;
  }
}

.gallery-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
  margin: 0;
  @include media-query($on-palm) {
    grid-template-columns: 1fr 1fr;
  }
  .gallery-item {
    overflow: hidden;
    transition: filter .25s ease;
    &:active {
      filter: brightness(.8);
    }
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    filter: saturate(75%);
    transition: all .25s ease-in-out;
    &:hover {
      filter: saturate(100%);
    }
  }
}


.book-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
  margin: 0;
  @include media-query($on-palm) {
    grid-template-columns: 1fr 1fr;
  }
  li {
    text-align:center;
  }
  img {
    box-shadow: $depth-default;
    height:190px;
  }
}