@charset "utf-8";
@import url("https://use.typekit.net/wxi1fsv.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,700,300italic,400italic,700italic,900italic,900");

// Define tokens
$spacing: 18px;
$spacing-medium: $spacing * 2;
$spacing-large: $spacing * 4;
$radius-default: 4px;

$depth-default: 0px 2px 6px rgba(0,0,0,.15);
$depth-raised: 1px 3px 10px rgba(0,0,0,1);

$gradient: linear-gradient(90deg, rgba(0,47,10,1) 0%, rgba(34,163,90,1) 100%);
$evergreen: #0C453E;

$slight-gray: #fdfdfd;
$medium-gray: #ececee;
$smoke: #4a4a4d;
$carbon: #333;

$tracking-slim: .25px;
$tracking-medium: .5px;
$tracking-spacey: 1px;

$line-height-compact: 1.25;


// Define defaults for each variable.

$base-font-family: "Lato", -apple-system-font, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$font-weight-heavy: 700;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$fontstack-base: "Lato", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$fontstack-decorative: p22-mackinac-pro, freight-text-pro, ff-tisa-web-pro, Garamond, Georgia, serif;

$spacing-unit:     30px !default;

$text-color:       $carbon !default;
$background-color: $slight-gray !default;
$brand-color:      $evergreen !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "base",
  "layout",
  "syntax-highlighting",
  "sections",
  "simpleLightbox"
;