---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.projects -%}
    <section id="projects">
      <h2>Projects</h2>
      <ul class="proj-list">
        {%- for proj in site.projects -%}
          <li>
            <a href="{{ proj.url }}">
              <div class="thumbnail">
              </div>
              <div class="proj-info"><span class="proj-type">{{ proj.type }}</span>
                <h2>{{ proj.title }}</h2>
              </div>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </section>
  {%- endif -%}

  {% for coll in site.collections %}
    {% if coll.label == "gallery" %}
      <section id="gallery">
        <h2>Gallery</h2>
        <div class="gallery-list">
          {% for image in coll.files %}
            <div class="gallery-item">
              <a href="gallery/{{ image.name }}">
                <img src="gallery/{{ image.name }}" />
              </a>
            </div>
          {% endfor %}
        </div>
      </section>
    {% endif %}
  {% endfor %}

</div>

<script>
  new SimpleLightbox({elements: '.gallery-list a'});
</script>