---
layout: default
---
<section class="project">

  <header class="post-header">
    {% if page.type %}
      <h3>{{ page.type }}</h3>
    {% endif %}
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</section>

<section class="more-projects">
<!-- Check for other projects -->
  {% if site.projects.size > 1 %}
    <h2>Other Projects</h2>
    <div class="more-projects-list">
      <!-- Display 3 other projects at random -->
      {% assign display_array = site.projects | where_exp:"item","item.title != page.title" | sample: 3 %}
      {% for project in display_array %}
        <div><h3><a href="{{ project.url }}">{{ project.title }}</a></h3></div>
      {% endfor %}
  {% endif %}

  </div>
</section>
